body{

    background-image: url("../images/background.jpeg");
}

.container{
    display: grid;
}

h1{
    text-transform: lowercase;
    text-align: center;
}

section{
    grid-template-columns: 1fr 1fr;
    display: grid;

}

div{
    padding: 25px; 
    margin:5px; 
    text-align: center;

    /* YOUR CODE HERE */
}


img{
    width: 125px; 
    margin-bottom: 10px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*Your code here*/
}


@media all and (min-width: 800px){
    
    section{
        grid-template-columns: 1fr 1fr 1fr;
        display: grid;
        text-align: center;
    }

    div:nth-child(odd){
        border: 1px solid black;
    }
}